{
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder": "scripts-styles-markup-options",
	"svelteStrictMode": false,
	"svelteIndentScriptAndStyle": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"arrowParens": "always",
	"trailingComma": "all",
	"semi": true
}
